<div ng-show="!load" class="
     row
     m-50 
     ">
    <div class="
         col-xl-4
         col-lg-4
         col-md-3
         col-sm-2
         ">

    </div>
    <div class="
         col-xl-4
         col-lg-4
         col-md-6
         col-sm-8
         ">
        <div class="
             p-20 
             border-lightgrey
             bc-whitesmoke 
             box-shadow
             radius">
            <div class="panel center">
                <h2>
                    Table Login
                </h2>
                <p>
                    Please enter the table code and secret key
                </p>
            </div>
            <div class="form-group">
                <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Table code">
            </div>

            <div class="form-group">
                <input 
                    type="password" 
                    class="form-control" 
                    placeholder="Key">

            </div>
            <div>
                <a>Forgot key?</a>
            </div>
            <button 
                class="btn btn-primary wp-100 mt-30"
                ng-click="login()">
                Enter
            </button>
        </div>
    </div>
    <div class="
         col-xl-4
         col-lg-4
         col-md-2
         col-sm-3
         ">

    </div>
</div>
<div
    ng-show="load"
    class='m-50'>
    <i class="
       fas 
       fa-circle-notch 
       fa-spin">

    </i> <label>loading ...</label>
</div>